.motley-red { background-image: url('./../images/mui-motley/red.png'); }
.motley-pink { background-image: url('./../images/mui-motley/pink.png'); }
.motley-purple { background-image: url('./../images/mui-motley/purple.png'); }
.motley-deepPurple { background-image: url('./../images/mui-motley/deepPurple.png'); }
.motley-indigo { background-image: url('./../images/mui-motley/indigo.png'); }
.motley-blue { background-image: url('./../images/mui-motley/blue.png'); }
.motley-lightBlue { background-image: url('./../images/mui-motley/lightBlue.png'); }
.motley-cyan { background-image: url('./../images/mui-motley/cyan.png'); }
.motley-teal { background-image: url('./../images/mui-motley/teal.png'); }
.motley-green { background-image: url('./../images/mui-motley/green.png'); }
.motley-lightGreen { background-image: url('./../images/mui-motley/lightGreen.png'); }
.motley-lime { background-image: url('./../images/mui-motley/lime.png'); }
.motley-yellow { background-image: url('./../images/mui-motley/yellow.png'); }
.motley-amber { background-image: url('./../images/mui-motley/amber.png'); }
.motley-orange { background-image: url('./../images/mui-motley/orange.png'); }
.motley-deepOrange { background-image: url('./../images/mui-motley/deepOrange.png'); }
.motley-brown { background-image: url('./../images/mui-motley/brown.png'); }
.motley-grey { background-image: url('./../images/mui-motley/grey.png'); }
.motley-blueGrey { background-image: url('./../images/mui-motley/blueGrey.png'); }